doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap", rel="stylesheet")
        title Document
    body 
        header.container 
            - const navElements = ['Цены ', 'Услуги', 'Портфолио', 'Акции', 'Преимущества', 'Блог', 'Контакты']
            nav.navbar
                img(src='../assets/Logo.png', alt='')  
                ul 
                    each item in navElements 
                        a(href='#'): li= item
                    
                img(src='../assets/call.png')
                button(type='click', class='btn') Заказать звонок
            hr 
            .nav_bottom 
                ul 
                    li 
                        p Ремонт квартир
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M6 9L12 15L18 9" stroke="#171616" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    li 
                        p Дизайн интерьера
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M6 9L12 15L18 9" stroke="#171616" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    li 
                        p Ремонт комнат
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M6 9L12 15L18 9" stroke="#171616" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    li Дома и коттеджи
                    li Прочие услуги
            hr 
            .content 
                .text
                    h1 РЕМОНТ КВАРТИР В МОСКВЕ И МО
                    h2 
                        p от 
                        span 2450 
                        p руб/м2    
                    .gurantee
                        h3
                            img(src='../assets/icon1.png')
                            p Оплата по факту приема работ
                        h3 
                            img(src='../assets/icon2.png')
                            p Замер и составление сметы БЕСПЛАТНО
                    .gurantee 
                        h3 
                            img(src='../assets/icon3.png')
                            p Выезд сметчика 
                        h3 
                            img(src='../assets/icon4.png')
                            p Гарантия 3 года
                .card 
        main.container 
            h1 Цены на ремонт
            .carts 
                .app_details 
                    .head 
                        img(src='../assets/cart-img.png')
                        p Косметический
                    h2 Такой тип ремонта подойдёт для того чтобы «освежить» ремонт в квартире: заменить покрытие стен, пола и потолка без предварительной подготовки
                    hr.cart_hr
                    p Демонтаж
                    span 
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                        <path d="M10.8333 3.25L4.87499 9.20833L2.16666 6.5" stroke="#2D4872" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                        p Демонтаж старых покрытий
                    span Демонтаж старой электрики
                    p Черновые работы
                    span Грунтовка стен и пола
                    h3 Список  работ
                    button(type='click', class='btn') Получить смету
                .app_details 
                    .head 
                        img(src='../assets/cart-img.png')
                        p Капитальный
                    h2 Такой тип ремонта подойдёт для того чтобы «освежить» ремонт в квартире: заменить покрытие стен, пола и потолка без предварительной подготовки
                    hr.cart_hr
                    p Демонтаж
                    span 
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                        <path d="M10.8333 3.25L4.87499 9.20833L2.16666 6.5" stroke="#2D4872" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                        p Демонтаж старых покрытий
                    span Демонтаж старой электрики
                    p Черновые работы
                    span Грунтовка стен и пола
                    h3 Список  работ
                    button(type='click', class='btn') Получить смету
                .app_details 
                    .head 
                        img(src='../assets/cart-img.png')
                        p Под ключ
                    h2 Такой тип ремонта подойдёт для того чтобы «освежить» ремонт в квартире: заменить покрытие стен, пола и потолка без предварительной подготовки
                    hr.cart_hr
                    p Демонтаж
                    span 
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                        <path d="M10.8333 3.25L4.87499 9.20833L2.16666 6.5" stroke="#2D4872" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                        p Демонтаж старых покрытий
                    span Демонтаж старой электрики
                    p Черновые работы
                    span Грунтовка стен и пола
                    h3 Список  работ
                    button(type='click', class='btn') Получить смету
                .app_details 
                
                    .head 
                        img(src='../assets/cart-img.png')
                        p Дизайнерский
                    h2 Такой тип ремонта подойдёт для того чтобы «освежить» ремонт в квартире: заменить покрытие стен, пола и потолка без предварительной подготовки
                    hr.cart_hr
                    p Демонтаж
                    span 
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                        <path d="M10.8333 3.25L4.87499 9.20833L2.16666 6.5" stroke="#2D4872" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                        p Демонтаж старых покрытий
                    span Демонтаж старой электрики
                    p Черновые работы
                    span Грунтовка стен и пола
                    h3 Список  работ 
                    button(type='click', class='btn') Получить смету
            h4 Примеры наших работ
            .sections 
                ul 
                    li Капитальный
                    li Косметиеский
                    li Под ключ
                    li Студии
                    li Черновой
            .radio 
                input(type='radio', checked) 
                label 55 м2
                input(type='radio') 
                label 61 м2
                input(type='radio') 
                label 72 м2
                input(type='radio') 
                label 88 м2
                input(type='radio') 
                label 106 м2
                input(type='radio') 
                label 63 м2
                input(type='radio') 
                label 41 м2
            .apply 
                .mini_img 
                    img(src='../assets/mini-img.png')
                    img(src='../assets/rectangle.png')
                    img(src='../assets/rectangle.png')
                    img(src='../assets/rectangle.png')
                    img(src='../assets/rectangle.png')
                .img 
                    img(src='../assets/image.png')
                .details
                    ol  
                        li  
                            img(src='../assets/amount.png')
                            p Сумма:
                            span 272 250 руб.
                        li 
                            img(src='../assets/grid.png')
                            p Площадь:
                            span 43 м2
                        li 
                            img(src='../assets/calendar.png')
                            p Срок:
                            span 90 дней
                        li 
                            img(src='../assets/home.png')
                            p Комнат:
                            span 3
                        li 
                            img(src='../assets/location.png')
                            p Адрес:
                            span Кулика 18
                    ul
                        li Штукатурка стен по маякам    
                        li Грунтовка стен и потолка
                        li Монтаж натяжных потолков 
                        li Шпатлёвка стен под обои
                        li Окраске стен
                        li Укладка плитки в с/у 
                        li Прокладка электрики 
                        li Установка плинтусов и откосов
            .apply_btn
                button(class='btn') Оставить заявку
            h5 Акции
            .sales 
                .new_flat 
                    h1 Новоселам
                    h2 Специальная скидка для тех кто переехал не более года назад
                    button(class='btn') Получить скидку
                .young_fam 
                    h1 Молодоженам
                    h2 Спец.скидка если с момента регистрации прошло не более года
                    button(class='btn') Получить скидку
                .pensioner
                    h1 Пенсионерам
                    h2 Специальная скидка для наших дорогих
                    button(class='btn') Получить скидку
            .text2
                h6 Как мы работаем
                p Вам понятен каждый этап: фиксированные сроки и цены, предоставляем все документы: накладные, гарантии, акты. Вы будете уверены в результате.
            .icon_list 
                .detail 
                    img(src='../assets/icon1.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon2.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon3.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon4.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon5.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon6.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon7.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon8.png')
                    p Бесплатный выезд замерщика
            .text3 
                p Свой склад и шоурум материалов наших партнеров в Москве
            .icon_list 
                .detail 
                    img(src='../assets/icon10.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon10.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon10.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon10.png')
                    p Бесплатный выезд замерщика
                .detail 
                    img(src='../assets/icon10.png')
                    p Бесплатный выезд замерщика
            .atlas_img 
                img(src="../assets/atlas_img.png", alt="")
                img(src="../assets/atlas_img2.png", alt="")
            .text2
                h6 Многоуровневый контроль качества
                p Ремонтируем квартиры без дефектов благодаря многоуровневому контролю качества:
            .industry 
                img(src="../assets/industry.png", alt="")
                .ind01 
                    span 01/05
                    p.bold Главный инженер
                    p Наблюдает за работой в режиме реального времени. Проверяет поставщиков материалов и оборудования
                    span 04/05
                    p.bold Начальник участка
                    p Оценивает соответствие процесса ремонта условиям договора по срокам и стоимости.
                .ind01 
                    span 02/05
                    p.bold Главный инженер
                    p Проверяет качество работ на всех объектах-решает спорные ситуации
                    span 05/05
                    p.bold Начальник участка
                    p Оценивает соответствие процесса ремонта условиям договора по срокам и стоимости.
                .ind01 
                    span 03/05
                    p.bold Видео и фото контроль
                    p Онлайн-контроль хода ремонта 24/7
            h5 Наша команда
            ul.team 
                li Маляр-штукатур
                li Прораб
                li Сантехник
                li Плиточник
                li Укладчик полов
                li Монтаж окон
                li Монтаж потолка
                li Сварщик
            .worker_info 
                img(src="../assets/worker.png", alt="")
                .text_info 
                    span Имя Фамилия
                    p Маляр-штукатур выравниват и подготавливает
                    h2 Благодаря Имя наша команда выполняет полный спектр по
                    ul 
                        li Штукатурка стен по маякам      
                        li Грунтовка стен и потолка
                        li Монтаж натяжных потолков
                        li Шпатлёвка стен под обои
                        li Окраске стен 
                        li Укладка плитки в с/у
                        li Прокладка электрики
                        li Установка плинтусов и откосов
            h5 Наши мастера в работе
            .masters 
                img(src="../assets/11.png", alt="")
                img(src="../assets/22.png", alt="")
                img(src="../assets/11.png", alt="")
            
        footer
            .footer_bg 
                .footer_content.container
                    h1 Нужна консультация?
                    h2 Подробно расскажем о наших услугах, видах работ и типовых проектах, рассчитаем стоимость и подготовим индивидуальное предложение!
                    button(class='foot_btn') Оставить заявку
            .footer_bottom_bg 
                .content_text.container
                    .payment
                        img(src='../assets/logo-foot.png')
                        img(src='../assets/payment.png')
                    .service
                        span Наши услуги
                        p Квартиры
                        p Коттеджи
                        p Таунхаусы
                        p Офисы
                        p Инженерные системы    
                        p География работ
                    .portfolio
                        p Портфолио
                        p Стоимость
                        p Акции
                        p О компании
                        p Статьи
                        p Контакты
                    .contact
                        ul 
                            li 
                                img(src="../assets/call-foot.png", alt="")
                                .ppp
                                    p +7 (233) 222-22-22 
                                    p 08:00 - 22:00, без выходных
                            li 
                                img(src="../assets/mail-foot.png", alt="")
                                p Электронная почта @
                            li 
                                img(src="../assets/map-foot.png", alt="")
                                p Адрес
            hr
            .footer_bottom 
                .bottom_text.container 
                    p с 2021 «MaxProff» Правовая информация
                    img(src='../assets/social.png')
                    p Сайт не является публичной офертой и носит информационный характер
                    p Карта сайта



                
          
      
                
        

            

                   




                      
                    
            
                
